<div class="register-container">
  <h2>إنشاء حساب جديد</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>الاسم الكامل</label>
      <input type="text" formControlName="fullName" placeholder="أدخل اسمك الكامل">
      <span *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched">الاسم مطلوب</span>
    </div>

    <div class="form-group">
      <label>البريد الإلكتروني</label>
      <input type="email" formControlName="email" placeholder="example@gmail.com">
      <span *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">البريد غير صالح</span>
    </div>

    <div class="form-group">
      <label>كلمة المرور</label>
      <input type="password" formControlName="password" placeholder="أدخل كلمة المرور">
      <span *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">الحد الأدنى 6 أحرف</span>
    </div>

    <button type="submit" [disabled]="loading" class="btn-primary">
      {{ loading ? 'جاري التسجيل...' : 'سجل الآن' }}
    </button>

    <p class="success" *ngIf="successMsg">{{ successMsg }}</p>
    <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
  </form>
  <br />
  <button class="btn-secondary" (click)="goToLogin()">⬅ رجوع لتسجيل الدخول</button>
  <!-- Footer -->
  <footer class="login-footer">
    <p>© 2025 EventHub | جميع الحقوق محفوظة</p>
  </footer>


</div>
