.app-layout {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
}

.page-content {
  margin-top: 52px;
  padding: 24px;
  flex: 1;
  background: white; 
}
