<div class="login-container">
  <div class="login-card">
    <!-- زر رجوع -->
    <!--<button class="back-btn" routerLink="/register">⬅ إنشاء حساب</button>-->

    <h1> EventHub مرحبا بك في </h1>
    <p>سجّل الدخول لتجربة خيالية ومميزة</p>

    <form (ngSubmit)="onSubmit()">
      <input type="email"
             [(ngModel)]="loginData.email"
             name="email"
             placeholder="البريد الإلكتروني"
             required />
      <input type="password"
             [(ngModel)]="loginData.password"
             name="password"
             placeholder="كلمة المرور"
             required />
      <button type="submit" [disabled]="isLoading"> دخول</button>
    </form>

    <p class="register-text">
     <a [routerLink]="['/register']">سجّل الآن</a>
    </p>
  </div>

</div>
<app-footer></app-footer>
